# Dependencies
node_modules/

# Compiled Java Class files
*.class

# Environment Files with sensitive keys
.env
.env.local
.env.*.local

# Editor and IDE metadata
.vscode/
.idea/
*.sublime-*

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# Log files
*.log
npm-debug.log*

# Build artifacts
.dist/
target/
